$toolbar-margin-left: 5px;
$toolbar-icon-padding: 0 2px;

.TreeNode {
  padding: 2px 0;

  // border: 1px solid red;

  .TreeNodeToolBar {
    margin-left: $toolbar-margin-left;
    svg {
      padding: $toolbar-icon-padding
    }
  }

  .iconContainer {
    padding: 0 2px;

    &:not(.typeIconContainer) svg:hover {
      cursor: pointer;
    }
  }

}